/* =================== Home Page ================== */

.img-fluid {
  width: 100%;
  height: 90vh;
  object-fit: contain;
}

.logo {
  width: 200px;
  height: 40px;
  object-fit: cover;
}

/* ==================Error Page ========================== */

.error_image{
  width: 100%;
   height: 80vh;
}


/* ================== Add to cart ===================== */

.card_align{
  float: left;
  margin: .5rem;
}

.cart_page{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
margin: 1.3rem auto;
padding: 1rem;
border-radius: .5rem;
width: 95%;

}

.cart_product{
  height: 67vh;
  overflow-y: scroll;
  margin-bottom: 1rem;
padding: 1rem;
}

.Payment_page{
margin-top: 25vh;
font-size: 1.2rem;
color: red;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
line-height: 3rem;
}

.login{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
border-radius: .7rem;
width: 80%;
}

/* ============== Login Page ============= */

.login_rigth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

/* ============== Signup Page =============== */

.signup{
  width: 80%;
}
.signup_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  border-radius: .7rem;

}

.signup_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.login_signup:hover {
  color: blue;
  background-color: green;
}